# Grafana values template
# Configure dashboards, datasources and admin password here.

# Example:
# adminPassword: ''
# datasources:
#   datasources.yaml:
#     apiVersion: 1
#     datasources:
#       - name: Prometheus
#         type: prometheus
#         url: http://prometheus-server.monitoring.svc.cluster.local
